

@{
    ViewBag.Title = "View Reports";
}



<div id="reports">

    <table class="mdl-data-table mdl-data-table--selectable mdl-shadow--2dp customTable" id="patronIndexTable">

        <thead>
            <tr>
                <th>Report Name </th>
                <th>Report Description </th>
                <th>Link </th>
                
            </tr>

        </thead>

        <tbody>
            <tr>
                <td>  Percentage of grants per Credit Score for each bank</td>
                <td> This report allows BetterBond to prioritise banks <br /> by the percentage of loan applications granted,<br /> filtered by  income type and credit score of the applicant.  </td>
                <td> <a href="https://app.powerbi.com/view?r=eyJrIjoiOWZlNjljMjAtNzhlNC00MDM5LWIzMGMtYWViNmE4NzkwNTUzIiwidCI6IjRiMWI5MDhjLTU1ODItNDM3Ny1iYTA3LWEzNmQ2NWUzNDkzNCIsImMiOjh9" target="_blank"> Percentage of grants per<br /> Credit Score for each bank</a></td>
            </tr>             

            <tr>
                <td>Employee Performance</td>
                <td>This will show the percentage <br /> of the total number of Cases for a particular month <br /> that each Sales Admin worked on which drills down <br /> to show the percentage of cases the Sales Admin <br /> has breached monthly (based on the SLA which is 2 working days <br /> turnaround from submission of a Case to a bank, until an outcome is received),<br />  the number of full grants and the revenue earned on those full grants.</td>
                <td><a href="https://app.powerbi.com/view?r=eyJrIjoiMTZhMWJjOTgtYWVjYS00ZjAxLTg1M2MtYmRkOGViODg3NzgxIiwidCI6IjRiMWI5MDhjLTU1ODItNDM3Ny1iYTA3LWEzNmQ2NWUzNDkzNCIsImMiOjh9" target="_blank">Employee Performance</a></td>
            </tr>

            <tr>
                <td>Number of Cases per Age group</td>
                <td> This will show the percentage of Cases per age group quarterly.</td>
                <td><a href="https://app.powerbi.com/view?r=eyJrIjoiNmY3MGQzYzQtZmE5NC00MDgzLWFiYzMtYzNmMDNiM2Y4MzA4IiwidCI6IjRiMWI5MDhjLTU1ODItNDM3Ny1iYTA3LWEzNmQ2NWUzNDkzNCIsImMiOjh9" target="_blank">Applicants per Age group</a></td>
            </tr>

            <tr>
                <td>SLA Breaches</td>
                <td> This ad-hoc table will show a prioritised list <br /> of every case with its respective Sales Admin <br /> that is currently in progress and has been breached,<br /> based on the number of days the case has been breached by. </td>
                <td><a href="https://app.powerbi.com/view?r=eyJrIjoiNTUyY2ZhMmMtNmU2MS00NDg2LTk2MjktY2M1MzhiOTA4YzZhIiwidCI6IjRiMWI5MDhjLTU1ODItNDM3Ny1iYTA3LWEzNmQ2NWUzNDkzNCIsImMiOjh9" target="_blank">SLA Breaches</a></td>
            </tr>


        </tbody>

    </table>

</div>